/* SELECTORS */
body{
	font-family: 'Righteous', cursive;
	text-align: center;
}

img{
	border-radius: 100%;
	width: 150px;
	height: 150px;
}


/* CLASSES */
.navbar{
	margin-bottom: 20px;
	padding: 7% 15%;
	background-color: #7ecfc0;
}

.nav-item {
  padding: 0 18px;
}

.about-me{
	text-align: center;
	margin: 100px auto;
	line-height: 2;
	width: 30%;
}


.education{
	margin: 100px auto;
}

.work-experience{
	text-align: center;
	margin: 100px auto;
}

.experience-list{
	width:100%;
}

.skills{

}

.colored-section{
	background-color: #7ecfc0;
}

#footer{
	margin: 100px auto;
}
